* {
    box-sizing: border-box;
}

@font-face {
    font-family: NorseFont;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
}
.body {
    flex: 1;
    display: flex;
}

.leftmain {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-image: url(./pics/jack-white-t1uQIBwGWKA-unsplash.jpg);
    background-size: cover;
    justify-content: space-between;
}

.logoarea {
    margin-top: 33%;
    height: 15%;
    display: flex;
    background:rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.logotext {
    display: flex;
    color: white;
    font-family: NorseFont;
    font-size: 4dvw;
}

.photocredit {
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    font-size: small;
    margin-bottom: 5px;
}

.rightmain {
    display: flex;
    flex-direction: column;
    flex: 6;
    background-color: rgb(245, 245, 245);
} 

.top, .middle, .bottom {
    display: flex;
    padding: 0 25% 0 5%;
}
.top{
    flex:0.2;
}

.top .text {
    margin: 20vh 0 2vh 0; 
    font-size: 1.5vw;
}

.middle {
    background: white;
    flex: 1;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
}

label {
    margin-top: 2em;
}
.left {
    display: flex;
    flex-direction: column;
}

.bottom {
    flex:1;
}