/* @link https://utopia.fyi/type/calculator?c=1280,16,1.333,3840,39,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--2: clamp(0.5628rem, 0.1583rem + 0.5056vi, 1.3718rem);
    --step--1: clamp(0.7502rem, 0.211rem + 0.674vi, 1.8286rem);
    --step-0: clamp(1rem, 0.2813rem + 0.8984vi, 2.4375rem);
    --step-1: clamp(1.333rem, 0.3749rem + 1.1976vi, 3.2492rem);
    --step-2: clamp(1.7769rem, 0.4998rem + 1.5964vi, 4.3312rem);
    --step-3: clamp(2.3686rem, 0.6662rem + 2.128vi, 5.7734rem);
    --step-4: clamp(3.1573rem, 0.888rem + 2.8367vi, 7.696rem);
    --step-5: clamp(4.2087rem, 1.1837rem + 3.7813vi, 10.2588rem);
  }
* {
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
    font-family: NorseFont;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input, textarea, button, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 100%;
    display: block;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    min-width: 1280px;
    min-height: 800px;
}
.body {
    flex: 1;
    display: flex;
}

.leftmain {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-image: url(./pics/jack-white-t1uQIBwGWKA-unsplash.jpg);
    background-size: cover;
    justify-content: space-between;
}

.logoarea {
    margin-top: 33%;
    height: 15%;
    display: flex;
    background:rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.logotext {
    display: flex;
    color: white;
    font-family: NorseFont;
    font-size: var(--step-5);
}

.photocredit {
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
    font-size: var(--step--2);
    margin-bottom: 5px;
}

.rightmain {
    display: flex;
    flex-direction: column;
    flex: 6;
    background-color: rgb(245, 245, 245);
} 

.top, .middle, .bottom {
    display: flex;
    padding: 0 25% 0 5%;
}
.top {
    flex:1.4;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.top .text {
    margin: 0 0 var(--step-1) 0; 
    font-size: var(--step-0);
}

.two {
    font-size: var(--step-0);
    margin-bottom: var(--step-2);
    
}

.middle {
    background: white;
    flex: 1;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 4px 3px 5px 1px rgba(66, 66, 66, 0.459);
}

.formWrapper {
    font-weight: bold;
    font-size: var(--step-1);
    margin-bottom: 2rem;
}

form {
    display: flex;
}

#pMatch {
    margin-top: 2px;
    padding-left: 2px;
    font-size: 0.8rem;
    color: red;
    width: 100%;
}

.inptWrapr {
    margin-bottom: var(--step-1);
    display: flex;
    flex-flow: row wrap;
    margin-right: 20%;
}

label {
    font-family: 'Lucida Sans', sans-serif;
    font-size: var(--step--2);
    font-weight: bold;
    color: rgb(95, 95, 95);
    width: 100%;
    margin-bottom: 2px;
    padding-left: 2px;
}

input {
    height: var(--step-2);
    appearance: none;
    border: 1px rgba(0, 0, 0, 0.411) solid;
    width: 100%;
    border-radius: 5px;;
    padding: 0 0.5rem 0 0.5rem;
    font-size: var(--step--1);
    
}

input + span {
    position: relative;
}
  
input:required + span::after {
    font-size: var(--step-1);
    position: absolute;
    content: "*";
    color: red;
    padding-left: 2px;
}
  
  
input:focus {
    border: 2px solid blue;
    box-shadow: 4px 3px 5px 1px rgba(66, 66, 66, 0.459);
}

input:invalid {
    border:2px solid red;
}



.left , .right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom {
    flex:1;
    display: flex;
    flex-direction: column;
}

.btnWrappr button {
    display: flex;
    margin: 3rem 0 3rem;
    background-color: rgb(134, 158, 236);
    width: 12vw;
    min-width: 12vw;
    height: var(--step-3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    font-size: var(--step--1);
    box-shadow: 4px 3px 5px 1px rgba(66, 66, 66, 0.459);
}

.alrHvAcc {
    font-size: var(--step--1);
    padding-left: 2px;
}

.alrHvAcc > span {
    font-weight: 700;
    color: rgb(134, 158, 236);
}